@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* Bash's Code */
.card-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.card {
	backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
	background-color: #fffA;
	padding: 20px;
	border-radius: 20px;
	max-width: 50%;
	font-family: "Figtree", sans-serif;
}

.footer {
	color: gray;
	font-size: smaller;
}

.buttons {
    display: flex;
    gap: 10px;
}
  
.buttons a {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;   
}

.heading {
	display: flex;
}

.heading h1 {
	flex: 100%;
}

.heading img {
	display: inline-block;
	aspect-ratio: 1/1;
	width: 80px;
	flex: auto;
	height: 100%;
	border-radius: 100%;
}
  
.primary {
    color: #eee;
    background: #333;
    font-weight: bold;
    flex: auto;
    border: 2px solid transparent;
}
  
.secondary {
    border: 2px solid #333;
    color: #333;
}
  
/*Added Hover effect (Doff)*/
.primary:hover {
    background-color: #2196f3;
    box-shadow: 0 0 10px 5px #fd32df44;
}
  
.secondary:hover {
    border: 2px solid #2196f3;
    color: #2196f3;
    box-shadow: 0 0 10px 5px #fd32df44;
}

.extLink {
	color: #2196f3;
}

.extLink::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font: var(--fa-font-solid);
	content:'\f08e';
	padding-right: 3px;
}

@media (prefers-color-scheme: dark) {
	.card {
		background-color: #333A;
		color: #eee;
	}

	.primary {
		background-color: #eee;
		color: #333;
	}

	.secondary {
		border-color: #eee;
        color: #eee
	}
}

@media screen and (max-width: 800px) {
	.card {
		max-width: 80%;
	}
}