@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
	background-color: #2196f3;
    margin:0;
	padding:0;
	height: 100dvh;
}

.waves {
	width: 100%;
	height: 50dvh;
}

/*Wave Gradients*/
:root {
	--gradient1-start: #fcb1f1;
	--gradient1-end: #FD32E0;
	--gradient2-start: #f7d6ff;
	--gradient2-end: #E689FE;
	--gradient3-start: #e48cff;
	--gradient3-end: #C80DFF;
  }

/* CSS Animation */

.wavy > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.wavy > use:nth-child(1) { /*Slowed down the wave speed (Doff)*/
	animation-delay: -s;
	animation-duration: 40s;
	color: #FD32E0;
}

.wavy > use:nth-child(2) {
	animation-delay: -20s;
	animation-duration: 60s;
	color: #E689FE;
}

.wavy > use:nth-child(3) {
	animation-delay: -40s;
	animation-duration: 80s;
	color: #C80DFF;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(86px,0,0);
	}
}

@keyframes float-in {
	0% {bottom: -50vh}
	100% {bottom: 0px}
}

/* Bash's Code */
.waves-wrapper {
	overflow: hidden;
	position: fixed;
	display: flex;
	align-items: end;
	margin: 0px;
	padding: 0;
	bottom: 0px;
	height: 100dvh;
	width: 100vw;
	z-index: -8;
}

.back-gradient {
	background: linear-gradient(180deg, #2196f3 0%, #00bcd4 100%);
	overflow: hidden;
	position: fixed;
	width: 100dvw;
	height: 100dvh;
	z-index: -10;
}

.waves {
	position: relative;
	animation-name: float-in;
	animation-duration: 2s;
}

#cursor {
	position: fixed;
	filter: blur(200px);
	-webkit-filter: blur(200px);
	z-index: -9;
	display: block;
	width: 300px;
	height: 300px;
	translate: -50% -50%;
	border-radius: 100%;
	background-color: white;
}
@media (prefers-color-scheme: dark) {
	body {
		background-color: #125286;
	}

	.back-gradient {
		background: linear-gradient(180deg, #125286 0%, #00343b 100%);
	}

	/*Wave gradients dark theme*/
	:root {
		--gradient1-start: #7F1971;
		--gradient1-end: #FD32E0;
		--gradient2-start: #9D5FAF;
		--gradient2-end: #E689FE;
		--gradient3-start: #63077F;
		--gradient3-end: #C80DFF;
	  }
}