@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
	background-color: #2196f3;
    margin:0;
	padding:0;
	height: 100dvh;
}

.waves {
	width: 100%;
	height: 50dvh;
}

/*Wave Gradients*/
:root {
	--gradient1-start: #fcb1f1;
	--gradient1-end: #FD32E0;
	--gradient2-start: #f7d6ff;
	--gradient2-end: #E689FE;
	--gradient3-start: #e48cff;
	--gradient3-end: #C80DFF;
  }

/* CSS Animation */

.wavy > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}

.wavy > use:nth-child(1) { /*Slowed down the wave speed (Doff)*/
	animation-delay: -s;
	animation-duration: 40s;
	color: #FD32E0;
}

.wavy > use:nth-child(2) {
	animation-delay: -20s;
	animation-duration: 60s;
	color: #E689FE;
}

.wavy > use:nth-child(3) {
	animation-delay: -40s;
	animation-duration: 80s;
	color: #C80DFF;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(86px,0,0);
	}
}

@keyframes float-in {
	0% {bottom: -50vh}
	100% {bottom: 0px}
}

/* Bash's Code */
.waves-wrapper {
	overflow: hidden;
	position: fixed;
	display: flex;
	align-items: end;
	margin: 0px;
	padding: 0;
	bottom: 0px;
	height: 100dvh;
	width: 100vw;
	z-index: -8;
}

.back-gradient {
	background: linear-gradient(180deg, #2196f3 0%, #00bcd4 100%);
	overflow: hidden;
	position: fixed;
	width: 100dvw;
	height: 100dvh;
	z-index: -10;
}

.waves {
	position: relative;
	animation-name: float-in;
	animation-duration: 2s;
}

.card-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.card {
	backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
	background-color: #fffA;
	padding: 20px;
	border-radius: 20px;
	max-width: 50%;
	font-family: "Figtree", sans-serif;
}

.footer {
	color: gray;
	font-size: smaller;
}

.buttons {
    display: flex;
    gap: 10px;
}
  
.buttons a {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;   
}

.heading {
	display: flex;
}

.heading h1 {
	flex: 100%;
}

.heading img {
	display: inline-block;
	aspect-ratio: 1/1;
	width: 80px;
	flex: auto;
	height: 100%;
	border-radius: 100%;
}
  
.primary {
    color: #eee;
    background: #333;
    font-weight: bold;
    flex: auto;
    border: 2px solid transparent;
}
  
.secondary {
    border: 2px solid #333;
    color: #333;
}
  
/*Added Hover effect (Doff)*/
.primary:hover {
    background-color: #2196f3;
    box-shadow: 0 0 10px 5px #fd32df44;
}
  
.secondary:hover {
    border: 2px solid #2196f3;
    color: #2196f3;
    box-shadow: 0 0 10px 5px #fd32df44;
}

.extLink {
	color: #2196f3;
}

.extLink::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font: var(--fa-font-solid);
	content:'\f08e';
	padding-right: 3px;
}

#cursor {
	position: fixed;
	filter: blur(200px);
	-webkit-filter: blur(200px);
	z-index: -9;
	display: block;
	width: 300px;
	height: 300px;
	/* left: 50%; */
	/* top: 50%; */
	translate: -50% -50%;
	border-radius: 100%;
	background-color: white;
}

@media screen and (max-width: 800px) {
	.card {
		max-width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #125286;
	}

	.back-gradient {
		background: linear-gradient(180deg, #125286 0%, #00343b 100%);
	}

	.card {
		background-color: #333A;
		color: #eee;
	}

	.primary {
		background-color: #eee;
		color: #333;
	}

	.secondary {
		border-color: #eee;
        color: #eee
	}

	/*Wave gradients dark theme*/
	:root {
		--gradient1-start: #7F1971;
		--gradient1-end: #FD32E0;
		--gradient2-start: #9D5FAF;
		--gradient2-end: #E689FE;
		--gradient3-start: #63077F;
		--gradient3-end: #C80DFF;
	  }
}